<%= form_with model: [@user, @post, @comment], url: user_post_comments_path, method: :post, local: true, scope: :comment do |form| %>
    <div>
    <%= form.label :text %><br>
    <%= form.text_field :text ,class:"form-control"%>
    </div>
    <%= form.submit "Add Comment" , class: "submit-comment" %>
<% end %>